<ion-header [translucent]="true">
<ion-toolbar>
	<ion-title>Open Trivia</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense">
	<ion-toolbar>
	<ion-title size="large">Open Trivia</ion-title>
	</ion-toolbar>
</ion-header>


<ion-list *ngIf="!gameCanStart">
	<ion-item>
		<ion-label position="floating">Votre pseudo</ion-label>
		<ion-input type="text" [(ngModel)]="pseudo"></ion-input>
    </ion-item>
    <ion-item>
		<ion-label position="floating">Catégorie</ion-label>
		<ion-select [(ngModel)]="chosenCategory">
			<ion-select-option value="{{category.id}}" *ngFor="let category of categories">{{category.name}}</ion-select-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<ion-label position="floating">Difficulté</ion-label>
		<ion-select [(ngModel)]="difficulty">
			<ion-select-option value="easy">Easy</ion-select-option>
			<ion-select-option value="medium">Medium</ion-select-option>
			<ion-select-option value="hard">Hard</ion-select-option>
		</ion-select>
	</ion-item>
	<ion-item>
		<ion-toggle type="checkbox" [(ngModel)]="save"></ion-toggle>
		<ion-label>Sauvegarder mes informations</ion-label>
	</ion-item>
	<ion-button expand="full" (click)="checkForm()">Commencer</ion-button>
</ion-list>
</ion-content>
